@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ARS.Inventory.Management.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "EditOrder";
    var products = ViewData["products"] as List<ProductsViewModel>;
    var category = new CategoryViewModel();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            @if (Model != null)
            {
                <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>@Localizer["Update Order"]</b></div>
            }
            else
            {
                <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>@Localizer["New Order"]</b></div>

            }
            <div class="panel-body">
                @* @if (Model.Id != null)
                    {*@
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">@Localizer["Date"] :</label>
                        <div class="col-sm-6">
                            <input type="date"  class="form-control parsley-error"  name="DeliveryDate" id="deliveryTime" value="@Model?.OrderDate.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">@Localizer["Category"]:</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => category, (SelectList)ViewBag.Category, "- Select Category -", new { @class = "form-control", @id = "categoryId"})
                        </div>
                        <label class="col-sm-3 control-label yazi">@Localizer["Product"]:</label>
                        <div class="col-sm-6">
                            <select class="js-data-ajax form-group col-sm-6 form-control select2-selection" name="product-select" id="product-select">
                            </select>
                        </div>
                        <label class="col-sm-3 control-label yazi">@Localizer["Quantity"] :</label>
                        <div class="col-sm-6">
                            <input type="number" data-parsley-max="6" min="1" class="form-control parsley-error" data-parsley-id="39" name="Quantity" id="quantity">
                        </div>
                        <label class="col-sm-3 control-label yazi">@Localizer["Selling Price"]:</label>
                        <div class="col-sm-6">
                            <input type="text" data-parsley-max="6" placeholder="@Localizer["Enter the sales price"]"..." class="form-control parsley-error" data-parsley-id="39" name="SellingPrice" id="productSelling">
                        </div>
                    </div>
                    <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="font-size: 16px;  background-color:lavender">
                                <th width="25%">@Localizer["Product Name"]</th>
                                <th width="26%">@Localizer["Quantity"]</th>
                                <th width="20%">@Localizer["Unit Price"]</th>
                                <th width="20%">@Localizer["Selling Price"]</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model?.OrderDetails is not null)
                            @foreach (var item in Model?.OrderDetails)
                            {
                                <tr>
                                    <td>@item.Product.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.SellingPrice</td>
                                    <td>@item.Price</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-hspace">
                                            <button type="button" class="btn btn-success " onclick="RemoveItem(@item.Id)">@Localizer["Remove"]</button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                </form>
                @*}*@

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var productList = [];
$(document).ready(function () {
    $('.js-basic-single').select2();


    //$("#categoryId").change(function () {
    //    var catId = $('#categoryId option:selected').val();
    //    $.getJSON("/api/Products/ProductsByCategory", { categoryId: catId },
    //            function (data) {
    //                productList = data;
    //                var select = $("#product-select");
    //                select.empty();
    //                select.append($('<option/>', {
    //                    value: 0,
    //                    text: "Select product"
    //                }));
    //                $.each(data, function (index, itemData) {
    //                    select.append($('<option/>', {
    //                        value: itemData.id,
    //                        text: itemData.name
    //                    }));
    //                });
    //            });
    //});

    //$('#product-input').change(function () {
    //     var productInput = $('#product-input').val();
    //});

    $('.js-data-ajax').select2({
        ajax: {
        url: "/api/Products/ProductsByCriteria",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
            query: params.term,
            page: params.page,
            categoryId: $('#categoryId').val()
            };
        },
        processResults: function (data, params) {
            params.page = params.page || 1;

            return {
            results: data.items,
            pagination: {
                more: (params.page * 10) < data.total_count
            }
            };
        },
        cache: true
        },
        placeholder: '- Select Product -',
        minimumInputLength: 3,
        templateResult: formatItems
    });

    function formatItems (item) {
      return item.name;
    }
});
</script>
