@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>@Localizer["My Account Profile"]</b></div>
            <div class="panel-body">
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <center>
                                <img src="~/Content/assets/img/myprofile.png" style="width:200px; height:150px">
                            </center>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> @Localizer["UserName"] :</label>
                        <div class="col-sm-6">
                            <input type="text" value="@User.Identity.Name" class="form-control parsley-error" readonly style="font-weight: bold;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> @Localizer["Old Password"] :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="oldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> @Localizer["New Password"] :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> @Localizer["Confirm Password"] :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="confirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <button type="button" class="btn btn-space btn-success" style="font-size: 17px; width: 80px; height:38px;" id="btnSave" onclick="Change()">@Localizer["Save"]</button>
                            <button class="btn btn-space btn-default" style="height: 40px; font-size: 14px;" id="cancel">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $("#cancel").click(function(){
    window.location.href = "/Home/Index";
    return false;
    });



var Change = function() {
  $.ajax({
    url: "/api/Account/ChangePassword",
    method: "POST",
    async: false,
    data: {
      OldPassword: $("#oldPassword").val(),
      NewPassword: $("#newPassword").val(),
      ConfirmPassword: $("#confirmPassword").val()
    },

    success: function() {
      toastr.success( "Password changed successfully !", { timeOut: 3000 });
      window.location.href = "/Home/Index";
    },
    error: function (error) {
           toastr.error("Encountered an error !" + error.responseText, { timeOut: 5000 })
        }
  });
};
</script>
